* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container {
    background: linear-gradient(#686A6C , #F1A23D);
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

section {
    display: grid;
    height: 480px;
    width: 320px;
    grid-template-columns: repeat( 4 , 1fr );
    grid-template-rows: repeat ( 6 , 1fr );
}

.item {
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: 0.5px solid black;
}

.item:hover {
    opacity: 0.8;
}

.item:active {
    background-color: white;
    opacity: 0.3;
    color: #4A494F;
}

.button-operations-right {
    background-color: #F1A23D;
}

.button-numbers {
    background-color: #686A6C;
}

.button-operations{
    background-color: #5A5663;
}

.display {
    background-color: #4A494F;
    opacity: 0.8;
    border: none;
    border-top-left-radius: px;
    border-top-right-radius: 5px;
    grid-column: 1 / 5;
    font-size: 35px;
    color: white;
    padding-left: 15px;
}

.zero {
    grid-column: 1 / 3;
}
